body {
    background-size: cover;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}

canvas {
    border-color: cyan;
    border-style: double;
    border-width: 7px;
    box-shadow: 5px 4px 7px cadetblue;
}

.Image {
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-color:aqua;
    background:"atag.jpeg";
    width:200px;
    font-size: smaller;
    height:auto;
}